.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("/images/home/banner.png");
  background-repeat: no-repeat;
  height: 800px;
  background-size: cover;
  background-position: center;
  width: full;
  text-align: center;
  animation: BannerzoomOut 3s ease-out forwards;
  display: flex;
  flex-direction: column;

  .banner-content-wrapper {
    width: 1280px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    .banner-content {
      h2 {
        width: 90%;
        text-align: left;
        font-size: 70px;
        font-weight: 700;
        color: #ffffff;
        transform: translateY(100px);
        opacity: 0;
        animation: slideFromBottom 1.2s ease-out forwards;
        animation-delay: 0s;
      }
      p {
        width: 80%;
        text-align: left;
        font-size: 20px;
        font-weight: 400;
        color: #d8d8d8;
        margin-top: 10px;
        transform: translateY(100px);
        opacity: 0;
        animation: slideFromBottom 1.2s ease-out forwards;
        animation-delay: 0.5s;
      }
    }
  }
  .banner-action-wrapper {
    margin: 40px 0px 60px;
    display: flex;
    gap: 40px;

    .button {
      font-size: 18px;
      font-weight: 500;
      padding: 10px 20px;
      border-radius: 24px;
    }
  }
}

// animations
@keyframes BannerzoomOut {
  0% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
}

// ------------responsive design--------------
@media screen and (max-width: 480px) {
  .banner {
    height: 600px;
    overflow-x:hidden;

    .banner-content-wrapper {
      max-width: 480px;
      margin-top: 40px;
      padding: 0 10px;

      .banner-content {
        h2 {
          margin-bottom:px;
          width: 90%;
          text-align: left;
          font-size: 30px;
          font-weight: 400;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          color: #d8d8d8;
        }
      }
    }
    .banner-action-wrapper {
      margin: 60px 0px 30px;
      display: flex;
      gap: 20px;

      .button {
        font-size: 12px;
        font-weight: 400;
        padding: 5px 10px;
        border-radius: 12px;
      }
    }
  }
}
