@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
* {
   font-family: "Geist", sans-serif;
}


:root {
  --primary: #E4ED64;
  --bg-primary: #fff9ea;
}



.primary {
  color: var(--primary);
}

.bg-primary {
  background-color: #fff9ea;
}

.btn-primary{
  background-color: var(--primary);
  color: #000;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.3s, transform 0.3s;
  transition-delay: 0.1s; 
  
}
.btn-primary:hover {
  background-color: #000000;
  color: white;
}


/* animations */
@keyframes slideFromBottom {
 0% {
   transform: translateY(100px);
   opacity: 0;
 }
 100% {
   transform: translateY(0);
   opacity: 1;
 }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
